Phase1/src/Aufgabe3b.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rezepte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rezept">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titel"/>
              <xs:element name="bild">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="url"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="zutaten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="personenzahl"/>
                    <xs:element name="zutat" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="menge">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="einheit" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="zubereitung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Infos">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Arbeitszeit"/>
                          <xs:element type="xs:string" name="Schwierigkeitsgrad"/>
                          <xs:element type="xs:string" name="Brennwert"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="schritt" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="kommentare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kommentar">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="autor"/>
                          <xs:element type="xs:string" name="datum"/>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>